body {
  background-color: #d3d3d3;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  background-color: #272a31;
  margin-top: -10px;
  margin-left: -10px;
  width: 101%;
  padding: 3px;
}

.header-link {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 35%;
  color: #d3d3d3;
  margin-right: 300px;
  font-size: x-small;
}

.header-list:hover {
  color: white;
}

.nav-div {
  background-color: white;
  margin-top: -10px;
  margin-left: -10px;
  width: 101%;
  padding: 10px 10px;
  box-shadow: 5px 10px 8px #c0bebe;
}

.nav {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 40%;
  text-align: center;
}

.nav-ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.nav-list {
  margin-left: 60px;
}

.nav-list-campaign {
  color: #ec5242;
  border: solid 4px #ec5242;
  padding: 10px 10px;
  margin-top: -10px;
}

.nav-list:hover {
  color: grey;
}

.main-page {
  margin-top: -20px;
  margin-left: -10px;
  width: 101%;
}

.main-header {
  width: 30%;
  margin-top: 150px;
  margin-left: 350px;
}

.main-header-title {
  color: #ec5242;
  font-weight: 700;
  text-shadow: 0.03em 0.03em 0.02em #0009;
  font-size: 3rem;
}

.main-header-paragraph {
  border: solid 4px white;
  padding: 15px 15px;
  margin-top: -35px;
  background-color: #d3d3d3;
}
.main-img {
  position: relative;
  margin-left: 500px;
  margin-top: -100px;
}

.main-date {
  margin-top: -50px;
}

.main-program {
  background-color: #272a31;
  margin-top: -10px;
  margin-left: -10px;
  width: 101%;
  padding-bottom: 10px;
}

.Program-header {
  width: fit-content;
  color: #c0bebe;
  margin-left: 45%;
  border-bottom:solid 1px #ec5242;
}

.program-board {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.board {
  max-width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c0bebe17;
  padding: 20px 20px;
  margin-right: 10px;
}

.program-icon {
  max-width: 60px;
}